/*style.css*/
header{
	color: purple; /* цвет текста*/
	background-color: silver; /*цвет фона*/
	font-family: Arial; /*тип шрифта*/
	letter-spacing: 0.1cm; /*растояние между букв*/
	text-align: center; /*местоположение заглавия*/	
}
footer{
	position: fixed;
	bottom: 0;
	color: purple;
	background-color: silver;
	width: 100%;
	text-align: center;

}
main section{
	border-left: 6pt solid red; /*dotted dashed */
    border-right: 6pt solid red;
	border-radius: 60px;
	padding: 2%;
	width: 30%;
}
/*h2 mis on section sees*/
main section h2{
	color: purple; /* цвет текста*/
	background-color: silver; /*цвет фона*/
	font-family: Arial; /*тип шрифта*/
	letter-spacing: 0.1cm; /*растояние между букв*/
	text-align: center; /*местоположение заглавия*/		
}
/*navigeerimismenüü w3shools lehelt*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}